<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>产品筛选_正鑫石材有限公司石家庄锈石批发处</title>
    <link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" /> 
  </head>
  <body class="body" >
    {% include 'top.html' %}
    <div id="h_centent">
      {% include 'left_contect.html' %}
      <div class="p_product">
        <ul class="h_productT">
        	<li class="h_productFont"><h3>产品筛选</h3></li>
            <li class="h_productMore">※&nbsp;当前位置：首页 - 产品中心 - <strong>白麻系列</strong></li>
        </ul>
        <ul class="p_productC h_box_c">
        	<li class="p_productC1">
            {% include 'list.html' %}
            <div class="List_page"><a>总数：46</a><span>1</span><a href="Index_2.html">2</a><a href="Index_3.html">3</a><a href="Index_4.html">4</a><a href="Index_5.html">5</a><a href="Index_6.html">6</a><a href="Index_2.html">下一页</a><a href="Index_8.html">..8</a><a>页次：1/8</a></div></li>
        </ul>
      </div>
    {% include 'bottom.html' %}
    </div>
  </body>
</html>
