
    <div class="bottop"></div>
    <div id="Bottom">
      <div class="bottomC">
       <li class="bottomLink">
         <a href="/" style="color:white;">网站首页</a> -
         <a href="/About" style="color:white;">公司简介</a> -
         <a href="/news"style="color:white;" title="新闻中心">新闻中心</a> -
         <a href="/product"style="color:white;" title="产品中心">产品中心</a> -
         <a href="/contect" style="color:white;"title="联系我们">联系我们</a> -
         <a href="/feedback" style="color:white;"title="留言反馈">留言反馈</a> -
         <a href="/"style="color:white;">网站地图</a>
       </li>
       <li class="bottomLink1">
         <span>业务经理：<strong>黄经理</strong>　<strong>138 3339 9953</strong>　</span>
         福建正鑫石材销售有限公司<br>公司地址：石家庄市长安区古城东路鑫顺石材市场A23<br>

       </li>
      </div>
    </div>

