<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>正鑫石材有限公司石家庄锈石批发处</title>
    <link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" /> 
  </head>
  <body class="body" >
    {% include 'top.html' %}
    <div id="h_centent">
      {% include 'left_contect.html' %}
      <div class="p_product">
        <ul class="h_productT">
          <li class="h_productFont"><h3>产品筛选</h3></li>
            <li class="h_productMore">※&nbsp;当前位置：首页 - <strong>公司文化</strong></li>
        </ul>
        <ul class="p_productC">         
          <li class="p_productC1">
            <p class="MsoNormal" style="text-indent:21.0pt;">
             <span style="font-family:宋体;">公司本着“信誉求发展、质量求生存”的经营理念，热诚欢迎国内外新老客户前来洽谈合作，共创双赢。</span>
           </p>
          </li>
        </ul>
      </div>
    </div>
    {% include 'bottom.html' %}
  </body>
</html>
