<div class="hleft">
        <div class="h_contact">
          <ul class="h_contact_title">
            <li class="h_contact_font">
              <h3>联系方式</h3>
            </li>
            <li class="h_contact_more">
              <a href="" title="联系我们">联系我们</a>
            </li>
          </ul>
          <ul class="h_contact_c">
            <li class="h_contact_c1">
              <p>业务经理：<strong>黄经理</strong></p>
              <p>联系电话：<strong class="c_f00">138 3339 9953</strong></p>
              <p>地  址：河北省石家庄市长安区古城东路鑫顺石材市场A23</p>
            </li>
          </ul>
        </div>
        <div class="product_list">
          <ul class="pro_title">
            <li class="pro_title_font">
              <h3>产品列表</h3>
            </li>
            <li class="pro_title_more">
              <a href=""title="公司简介">产看更多</a>
            </li>
          </ul>
          <ul class="por_content">
            <li class="por_content_c1">
              <a href="/hjm" title="黄金麻系列">黄金麻系列</a>
            </li>
            <li class="por_content_c1">
              <a href="/hxs" title="黄锈石系列">黄锈石系列</a>
            </li>
            <li class="por_content_c1">
              <a href="/yx" title="异形系列">异形系列</a>
            </li>
            <li class="por_content_c1">
              <a href="/hzxm" title="合作项目">合作项目</a>
            </li>
            <li class="por_content_c1">
              <a href="/bm" title=白麻系列>白麻系列</a>
            </li>
            <li class="por_content_c1">
              <a href="/lys" title="路沿石">路沿石</a>
            </li>
            <li class="por_content_c1">
              <a href="/hl" title="荒料">荒料</a>
            </li>
            <li class="por_content_c1">
              <a href="/gc" title="工厂">工厂</a>
            </li>
            <li class="por_content_c1">
              <a href="/gcal" title="工程案例">工程案例</a>
            </li>
          </ul>
        </div>
        <div class="h_new1">
          <ul class="h_newsT">
            <li class="h_newsFont">
              <h3>公司新闻</h3>
            </li>
            <li class="h_newsMore">
              <a href="" title="公司新闻">更多</a>
            </li>
          </ul>
          <ul class="h_newsC">
            <li class="h_newsimg1"></li>
            <li class="h_newsC_c">
              <a href="" title="自然面">自然面</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="黄金麻火烧般5">黄金麻火烧般5</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="浅黄荔枝面3">浅黄荔枝面3</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="黄金麻中黄染色板">黄金麻中黄染色板</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="黄金麻中黄浅黄光面">黄金麻中黄浅黄光面</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="黄金麻中黄荔枝面5">黄金麻中黄荔枝面5</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
            <li class="h_newsC_c">
              <a href="" title="黄金麻中黄光面3">黄金麻中黄光面3</a>
              <img src="http://www.hbshicaiwang.com/skins/2009/Images/new01.gif"width="28"height="11">
            </li>
          </ul>
        </div>
      </div>