
      <div class="hleft">
        <div class="h_plist">
            <ul class="h_plistT">
                <li class="h_plistFont"><h3>关于我们</h3>｜About US</li>
            </ul>
            <ul class="h_plistC">
                
                <li class="h_plist_c"><a href="/About" title="关于我们">关于我们</a></li>
                
                <li class="h_plist_c"><a href="/culture" title="企业文化">企业文化</a></li>
                
                <li class="h_plist_c"><a href="/About/zzry" title="资质荣誉">资质荣誉</a></li>
                
                <li class="h_plist_c"><a href="/service" title="查看留言">查看留言</a></li>
                
                <li class="h_plist_c"><a href="/contect" title="联系我们">联系我们</a></li>
                
                <li class="h_plist_c"><a href="/hiring" title="诚聘英才">诚聘英才</a></li>
                
            </ul>
        </div>
        <div class="h_contact">
          <ul class="h_contact_title">
            <li class="h_contact_font">
              <h3>联系方式</h3>
            </li>
            <li class="h_contact_more">
              <a href="" title="联系我们">联系我们</a>
            </li>
          </ul>
          <ul class="h_contact_c">
            <li class="h_contact_c1">
              <p>业务经理：<strong>黄经理</strong></p>
              <p>联系电话：<strong class="c_f00">138 3339 9953</strong></p>
              <p>地  址：河北省石家庄市长安区古城东路鑫顺石材市场A23</p>
            </li>
          </ul>
        </div>
</div>
