<ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture1}} target="_blank"><img src={{picture01}} alt="{{first}}(6)" border="0" width="280" height="218"></a>

              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture1}}  title="{{first}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{first}}</a></span>
                     <!--<span><a href="/hjm/753.html" title="自然面"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture2}} target="_blank"><img src={{picture02}} alt="{{second}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture2}} title="{{second}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{second}}</a></span>
                     <!--<span><a href="/hjm/751.html" title="黄金麻火烧板5"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            