<div class="h_hot">
        <ul class="h_hot_title">
          <li class="h_hot_font">
            <h3 style="margin-left:48px;">成功案例</h3>
          </li>
          <li class="h_hot_more">
            <a href="">全部产品</a>
          </li>
        </ul>
        <ul class="h_hot_c">
          <div id="demog" style="OVERFLOW:hidden;WIDTH:752px;HEIGHT:164px;">
            <table cellspacing="0" cellpadding="0" border="0">
	             <tbody>
    	            <tr>
        	           <td id="demog1">
            	          <table cellspacing="0" cellpadding="0" width="1970" border="0">
                          <tbody>
                            <tr>
                              <td>
                                <li class="h_hot_c1">
                                  <a href="/yxxl/659.html" title="盲道石" target="_blank"><img src="/static/img/base/1.png" alt="盲道石"></a>
                                  <span><a href="/yxxl/659.html" title="盲道石" target="_blank">名称：盲道石</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/yxxl/653.html" title="英国棕/光面" target="_blank"><img src="/static/img/base/2.png" alt="英国棕/光面"></a>
                                  <span><a href="/yxxl/653.html" title="英国棕/光面" target="_blank">名称：英国棕/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/652.html" title="黄金麻/荔枝面" target="_blank"><img src="/static/img/base/3.png" alt="黄金麻/荔枝面"></a>
                                  <span><a href="/bm/652.html" title="黄金麻/荔枝面" target="_blank">名称：黄金麻/荔枝面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/651.html" title="黄金麻/光面" target="_blank"><img src="/static/img/base/4.png" alt="黄金麻/光面"></a>
                                  <span><a href="/bm/651.html" title="黄金麻/光面" target="_blank">名称：黄金麻/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/650.html" title="湖北白麻/光面" target="_blank"><img src="/static/img/base/5.png" alt="湖北白麻/光面"></a>
                                  <span><a href="/bm/650.html" title="湖北白麻/光面" target="_blank">名称：湖北白麻/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/hjm/649.html" title="异形 target="_blank"><img src="/static/img/base/6.png" alt="异形"></a>
                                  <span><a href="/hjm/649.html" title="异形" target="_blank">名称：异形</a></span>
                                </li> 
                              </td>
                            </tr>
                          </tbody>
				                </table>
                     </td>
			               <td id="demog2">
            	          <table cellspacing="0" cellpadding="0" width="1970" border="0">
                          <tbody>
                            <tr>
                              <td>
                                <li class="h_hot_c1">
                                  <a href="/yxxl/659.html" title="盲道石" target="_blank"><img src="/static/img/base/1.png" alt="盲道石"></a>
                                  <span><a href="/yxxl/659.html" title="盲道石" target="_blank">名称：盲道石</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/yxxl/653.html" title="英国棕/光面" target="_blank"><img src="/static/img/base/2.png" alt="英国棕/光面"></a>
                                  <span><a href="/yxxl/653.html" title="英国棕/光面" target="_blank">名称：英国棕/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/652.html" title="黄金麻/荔枝面" target="_blank"><img src="/static/img/base/3.png" alt="黄金麻/荔枝面"></a>
                                  <span><a href="/bm/652.html" title="黄金麻/荔枝面" target="_blank">名称：黄金麻/荔枝面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/651.html" title="黄金麻/光面" target="_blank"><img src="/static/img/base/4.png" alt="黄金麻/光面"></a>
                                  <span><a href="/bm/651.html" title="黄金麻/光面" target="_blank">名称：黄金麻/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/bm/650.html" title="湖北白麻/光面" target="_blank"><img src="/static/img/base/5.png" alt="湖北白麻/光面"></a>
                                  <span><a href="/bm/650.html" title="湖北白麻/光面" target="_blank">名称：湖北白麻/光面</a></span>
                                </li>
                                <li class="h_hot_c1">
                                  <a href="/hjm/649.html" title="异形 target="_blank"><img src="/static/img/base/6.png" alt="异形"></a>
                                  <span><a href="/hjm/649.html" title="异形" target="_blank">名称：异形</a></span>
                                </li> 
                              </td>
                            </tr>
                          </tbody>
				                </table>
			                </td>
		              </tr>
	             </tbody>
            </table>
            <script>
              var sspeed=10
              demog2.innerHTML=demog1.innerHTML
              function Marquees(){
                if(demog2.offsetWidth-demog.scrollLeft<=0)
                  demog.scrollLeft-=demog1.offsetWidth
                else{
                  demog.scrollLeft++
                }
              }
              var MyMars=setInterval(Marquees,sspeed)
              demog.onmouseover=function() {clearInterval(MyMars)}
              demog.onmouseout=function() {MyMars=setInterval(Marquees,sspeed)}
            </script>
          </div>
      </div>