<ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture1}} target="_blank"><img src={{picture01}} alt="{{first}}(6)" border="0" width="280" height="218"></a>

              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture1}}  title="{{first}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{first}}</a></span>
                     <!--<span><a href="/hjm/753.html" title="自然面"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture2}} target="_blank"><img src={{picture02}} alt="{{second}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture2}} title="{{second}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{second}}</a></span>
                     <!--<span><a href="/hjm/751.html" title="黄金麻火烧板5"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture3}} target="_blank"><img src={{picture03}} alt="{{third}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture3}} title="{{third}}" target="_blank"style=" border-bottom:1px solid #ddd;">{{third}}</a></span>
                     <!--<span><a href="/hjm/748.html" title="浅黄荔枝面3"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture4}} target="_blank"><img src={{picture04}} alt="{{forth}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture4}} title="{{forth}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{forth}}</a></span>
                     <!--<span><a href="/hjm/746.html" title="黄金麻中黄染色板"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture5}} target="_blank"><img src={{picture05}} alt="{{fifth}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture5}} title="{{fifth}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{fifth}}</a></span>
                     <!--<span><a href="/hjm/744.html" title="黄金麻中黄浅黄光面"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>
            <ul class="in_prdlistcon">
              <li class="in_prdlist_img">
                <a href={{picture6}} target="_blank"><img src={{picture06}} alt="{{sixth}}" border="0" width="280" height="218"></a>
              </li>
              <li class="in_prdlist_text">
                <span><a href={{picture6}} title="{{sixth}}" target="_blank" style=" border-bottom:1px solid #ddd;">{{sixth}}</a></span>
                     <!--<span><a href="/hjm/742.html" title="黄金麻中黄荔枝面5"  style=" border-bottom:1px solid #ddd;">产品价格：</a></span>-->
              </li>
            </ul>