 <div id="head">
      <div class="toplogo">
        <div class="toplogo-left">
          <span class="toplog-left2">正鑫石材</span>
          <span class="toplog-left1">xin shun stone net</span>
        </div>
        <div class="toplogo-right">
          <span class="toplogo-right1">热线电话:</span>
          <span class="toplogo-right2">13833399953</span>
        </div>
      </div>
      <div class="top-menu">
        <ul class="top-menua">
          <li class="top-menub"><a href="/" title="网站首页" style="text-decoration:none;"><span style="color:white;">网站首页</span></a></li>
          <li class="top-menub"><a href="/About" title="公司简介" style="text-decoration:none;"><span style="color:white;">公司简介</span></a></li>
          <li class="top-menub"><a href="/culture" title="公司文化" style="text-decoration:none;"><span style="color:white;">公司文化</span></a></li>
          <li class="top-menub"><a href="/news" title="新闻中心" style="text-decoration:none;"><span style="color:white;">新闻中心</span></a></li>
          <li class="top-menub"><a href="/product" title="产品中心" style="text-decoration:none;"><span style="color:white;">产品中心</span></a></li>
          <li class="top-menub"><a href="/service" title="查看留言" style="text-decoration:none;"><span style="color:white;">查看留言</span></a></li>
          <li class="top-menub"><a href="/feedback" title="留言反馈" style="text-decoration:none;"><span style="color:white;">留言反馈</span></a></li>
          <li class="top-menub"><a href="/hiring" title="人才招聘" style="text-decoration:none;"><span style="color:white;">人才招聘</span></a></li>
          <li class="top-menub"><a href="/contect" title="联系我们" style="text-decoration:none;"><span style="color:white;">联系我们</span></a></li>
        </ul>
      </div>
      <div class="top-menusub">
        <ul class="top-menusub_b">
          <li class="m_gonggao">
            <strong>最新公告：</strong>{{news}}
          </li>
        </ul>
      </div>
      <div class="flash">
        <div>

        </div>
      </div>